@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    text-decoration: none;
    outline: none;
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #151515;
}

main {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;

    img {
        width: 400px;
        margin-bottom: 100px;
    }

    p {
        font-size: 18px;
        color: #fff;
        margin-bottom: 10px;
    }

    .inputs {
        input {
            padding: 15px 10px;
            border-radius: 5px;
            background: #00000054;
            border: 1px solid #ffffff3f;
            color: #ffffffc0;
        }

        input:nth-child(1) {
            margin-right: 10px;
        }
    }

    button {
        padding: 15px 60px;
        cursor: pointer;
        margin-top: 30px;
        border: 1px solid#fff;
        background-color: transparent;
        color: #fff;
        border-radius: 50px;
        font-size: 16px;
        transition: 0.2s ease;
        box-shadow: 0px 5px 10px #ffffff25;

        &:hover {
            background-color: #D60000;
            border: 1px solid #D60000;
            box-shadow: 0px 5px 10px #d6000044;
        }
    }
}